@charset "utf-8";
 @font-face{
    font-family:AritaT;
    src:url('/fonts/arita/arita-Thin.eot');
    src:url('/fonts/arita/arita-Thin.eot?#iefix') format('embedded-opentype'),
        url('/fonts/arita/arita-Thin.woff') format('woff'),
        url('/fonts/arita/arita-Thin.ttf') format('truetype'),
        url('/fonts/arita/arita-Thin.svg#PreloSlabMedium') format('svg');
    font-weight:normal;font-style:normal;
	text-rendering: optimizeLegibility;
}
.Aritat {font-family:AritaT;}
@font-face{
    font-family:AritaL;
    src:url('/fonts/arita/arita-Light.eot');
    src:url('/fonts/arita/arita-Light.eot?#iefix') format('embedded-opentype'),
        url('/fonts/arita/arita-Light.woff') format('woff'),
        url('/fonts/arita/arita-Light.ttf') format('truetype'),
        url('/fonts/arita/arita-Light.svg#PreloSlabMedium') format('svg');
    font-weight:normal;font-style:normal;
	text-rendering: optimizeLegibility;
}
.Arital {font-family:AritaL;}
@font-face{
    font-family:Arita;
    src:url('/fonts/arita/arita-Medium.eot');
    src:url('/fonts/arita/arita-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/arita/arita-Medium.woff') format('woff'),
        url('/fonts/arita/arita-Medium.ttf') format('truetype'),
        url('/fonts/arita/arita-Medium.svg#PreloSlabMedium') format('svg');
    font-weight:normal;font-style:normal;
	text-rendering: optimizeLegibility;
}
.Arita {font-family:Arita;}
@font-face{
    font-family:AritaSB;
    src:url('/fonts/arita/arita-SemiBold.eot');
    src:url('/fonts/arita/arita-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/arita/arita-SemiBold.woff') format('woff'),
        url('/fonts/arita/arita-SemiBold.ttf') format('truetype'),
        url('/fonts/arita/arita-SemiBold.svg#PreloSlabMedium') format('svg');
    font-weight:normal;font-style:normal;
	text-rendering: optimizeLegibility;
}
.Aritasb {font-family:AritaSB;}
@font-face{
    font-family:AritaB;
    src:url('/fonts/arita/arita-Bold.eot');
    src:url('/fonts/arita/arita-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/arita/arita-Bold.woff') format('woff'),
        url('/fonts/arita/arita-Bold.ttf') format('truetype'),
        url('/fonts/arita/arita-Bold.svg#PreloSlabMedium') format('svg');
    font-weight:normal;font-style:normal;
	text-rendering: optimizeLegibility;
}
.Aritab {font-family:AritaB;}
/*
사용예시

font-family: aritadsb,'아리따돋움', aritadm, 'Apple Gothic', 'DroidSansFallback', '맑은고딕', 'Malgun Gothic', '나눔고딕', NanumGothic, '돋움', dotum, arial, sans-serif, helvetica;

*/